<!DOCTYPE html>
<html>

<head>
	<title>File Upload</title>
	<link rel="stylesheet" type="text/css" href="/static/HomePage.css">
	<script>
		window.onload = function () {
			var urlParams = new URLSearchParams(window.location.search);
			var successMessage = urlParams.get("success");
			var successDiv = document.getElementById("success-message");

			if (successMessage && successMessage !== null) {
				successDiv.innerText = successMessage;
				successDiv.style.display = "block";
			} else {
				successDiv.style.display = "none";
			}
		}
	</script>
</head>

<body>
	<div class="container">
		<h1>Upload a File</h1>
		<form method="POST" enctype="multipart/form-data" class=" upload-form" action="/upload">
			<input type="file" name="uploadedfile" id="uploadedfile" accept=".csv" class="file-input" required>
			<input type="submit" value="Upload" class="submit-button">
		</form>
		{{if .Error}}
		<p style="color: red;">Error: {{.Error}}</p>
		{{end}}
		<div id="success-message"></div>
		<a href="refreshQuery">Show Result Page</a>
	</div>
</body>

</html>